<h2>Diseases</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if diseases %}
  <ul>
  {% for disease in diseases %}
    <li><a href="{% url 'diseases:disease' disease.id %}">{{ disease.name }}</a></li>
    <li>Procedures for disease</li>
    <ul>
    {% for procedure in disease.procedure_set.all %}
      <li><a href="{% url 'diseases:procedure' procedure.id %}">{{ procedure.name }}</a></li>
    {% endfor %}
    </ul>
    <br>
  {% endfor %}
  </ul>
{% else %}
  <p>No diseases are available.</p>
{% endif %}

<form action="{% url 'diseases:add_disease' %}" method="post">
  {% csrf_token %}
  Disease name:<br>
  <input type="text" name="name" required>
  <br><br>
  <input type="submit" value="Submit">
</form>
